<h1>Success!</h1>

<h1>Here is the vehicle you added:</h1>
<h2><%= @result.make() %> <%= @result.model() %> <%= @result.year() %></h2>

<a href="/vehicles">See Vehicle List </a>
<a href="/vehicles/new">Add New Vehicle</a>
